<%- include("./header.ejs") %>

<section class="section">
    <h2>About This Website</h2>
    <p>This Website shares tutorials, coding tips, and career advice for aspiring developers.</p>
</section>

<%- include("./footer.ejs") %>
