<%- include("./header.ejs") %>




<section class="section">
    <div class="contact-container">
        <div class="contact-card">
            <h2>Contact Us</h2>
            <p>Feel free to ask anything. We're here to help you!</p>

            <div class="contact-buttons">
                <a href="mailto" class="contact-btn mail">
                    Send Email
                </a>

                <a href="tel" class="contact-btn phone">
                    Call (+91)
                </a>
            </div>
        </div>
    </div>
</section>






<%- include("./footer.ejs") %>

